In [0]:
# Meus outros cursos: https://linktr.ee/rafaelfvcs

In [0]:
import pandas as pd
import numpy as np

In [0]:
dias = pd.date_range(start='20190101', periods=12)

In [0]:
dias

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12'],
              dtype='datetime64[ns]', freq='D')

In [0]:
Pessoa = ['George', 'Victor', 'Lucas']

In [0]:
 np.random.choice(Pessoa)

'Victor'

In [0]:
Nome = []
Gasto = []
for i in range(12):
  Nome.append(np.random.choice(Pessoa))
  Gasto.append( np.round(np.random.rand()*100,2) )

Nome

['Victor',
 'George',
 'Lucas',
 'Victor',
 'George',
 'Victor',
 'Lucas',
 'Victor',
 'Victor',
 'Lucas',
 'Victor',
 'Lucas']

In [0]:
Gasto

[98.42,
 84.59,
 15.69,
 28.62,
 60.38,
 46.36,
 20.29,
 89.49,
 31.71,
 50.03,
 10.8,
 93.38]

In [0]:
df = pd.DataFrame({'Dia':dias, 'Nome':Nome, 'Gasto':Gasto})

In [0]:
df

          Dia    Nome  Gasto
0  2019-01-01  Victor  98.42
1  2019-01-02  George  84.59
2  2019-01-03   Lucas  15.69
3  2019-01-04  Victor  28.62
4  2019-01-05  George  60.38
5  2019-01-06  Victor  46.36
6  2019-01-07   Lucas  20.29
7  2019-01-08  Victor  89.49
8  2019-01-09  Victor  31.71
9  2019-01-10   Lucas  50.03
10 2019-01-11  Victor  10.80
11 2019-01-12   Lucas  93.38

In [0]:
df.pivot(index='Dia',columns='Nome', values='Gasto')

Nome        George  Lucas  Victor
Dia
2019-01-01     NaN    NaN   98.42
2019-01-02   84.59    NaN     NaN
2019-01-03     NaN  15.69     NaN
2019-01-04     NaN    NaN   28.62
2019-01-05   60.38    NaN     NaN
2019-01-06     NaN    NaN   46.36
2019-01-07     NaN  20.29     NaN
2019-01-08     NaN    NaN   89.49
2019-01-09     NaN    NaN   31.71
2019-01-10     NaN  50.03     NaN
2019-01-11     NaN    NaN   10.80
2019-01-12     NaN  93.38     NaN