In [0]:
# Meus outros cursos: https://linktr.ee/rafaelfvcs

In [0]:
import pandas as pd
import numpy as np

In [0]:
d =[['Maria','Maria','Victor','Victor','Victor','Igor','Igor','Igor'],[2,1,5,5,3
                                                                      ,1,5,2],['Sapatos','Meias','Camisas','Meias','Sapatos','Meias','Camisas','Sapatos'],[50,10,100,60,75,5,100,100]]

In [0]:
d

[['Maria', 'Maria', 'Victor', 'Victor', 'Victor', 'Igor', 'Igor', 'Igor'],
 [2, 1, 5, 5, 3, 1, 5, 2],
 ['Sapatos',
  'Meias',
  'Camisas',
  'Meias',
  'Sapatos',
  'Meias',
  'Camisas',
  'Sapatos'],
 [50, 10, 100, 60, 75, 5, 100, 100]]

In [0]:
dados = pd.DataFrame(data=np.array(d).T, columns=['Cliente','Quantidade','Produto','Preço'])

In [0]:
dados

  Cliente Quantidade  Produto Preço
0   Maria          2  Sapatos    50
1   Maria          1    Meias    10
2  Victor          5  Camisas   100
3  Victor          5    Meias    60
4  Victor          3  Sapatos    75
5    Igor          1    Meias     5
6    Igor          5  Camisas   100
7    Igor          2  Sapatos   100

In [0]:
dados_reshape = pd.pivot_table(dados, values='Preço', index=['Cliente','Quantidade'], columns='Produto')

In [0]:
df = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [0]:
df

In [0]:
df.head(2)

            Name            Team  Number  ... Weight    College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0      Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0  Marquette  6796117.0

[2 rows x 9 columns]

In [0]:
df_stacked = df.stack()

In [0]:
len(df_stacked)

4018

In [0]:
df_stacked

0    Name            Avery Bradley
     Team           Boston Celtics
     Number                      0
     Position                   PG
     Age                        25
     Height                    6-2
     Weight                    180
     College                 Texas
     Salary            7.73034e+06
1    Name              Jae Crowder
     Team           Boston Celtics
     Number                     99
     Position                   SF
     Age                        25
     Height                    6-6
     Weight                    235
     College             Marquette
     Salary            6.79612e+06
2    Name             John Holland
     Team           Boston Celtics
     Number                     30
     Position                   SG
     Age                        27
     Height                    6-5
     Weight                    205
     College     Boston University
3    Name              R.J. Hunter
     Team           Boston Celtics
     Number                     28
     Position                   SG
                       ...
453  Age                        26
     Height                    6-3
     Weight                    203
     College                Butler
     Salary            2.43333e+06
454  Name                Raul Neto
     Team                Utah Jazz
     Number                     25
     Position                   PG
     Age                        24
     Height                    6-1
     Weight                    179
     Salary                 900000
455  Name             Tibor Pleiss
     Team                Utah Jazz
     Number                     21
     Position                    C
     Age                        26
     Height                    7-3
     Weight                    256
     Salary                2.9e+06
456  Name              Jeff Withey
     Team                Utah Jazz
     Number                     24
     Position                    C
     Age                        26
     Height                    7-0
     Weight                    231
     College                Kansas
     Salary                 947276
Length: 4018, dtype: object

In [0]:
df.shape

(458, 9)

In [0]:
df.describe()

In [0]:
dfu = df_stacked.unstack()

In [0]:
df.head(3)

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN

[3 rows x 9 columns]

In [0]:
df_melt = df.melt(id_vars =['Name', 'Team'])

In [0]:
df_melt.head(30)

In [0]:
df2 = pd.DataFrame({"A":[12, 4, 5, 44, 1],  
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8],  
                   "D":[14, 3, 17, 2, 6]})

In [0]:
df2

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [0]:
df2.melt(id_vars =['A'], value_vars =['B'])

    A variable  value
0  12        B      5
1   4        B      2
2   5        B     54
3  44        B      3
4   1        B      2

In [0]:
df2.melt(id_vars =['A'], value_vars =['B','D'])

    A variable  value
0  12        B      5
1   4        B      2
2   5        B     54
3  44        B      3
4   1        B      2
5  12        D     14
6   4        D      3
7   5        D     17
8  44        D      2
9   1        D      6